@keyframes m-node-inserted {
  from {opacity: 0.99;}
  to {opacity: 1;}
}

@keyframes m-dropdown-open {
  from {opacity: 0;}
  to {opacity: 1;}
}

.m-dropdown {
  display: inline-block;
  position: relative;
}

.m-dropdown > [data-m-toggle="dropdown"] {
  -webkit-animation-duration: 0.001s;
  animation-duration: 0.001s;
  -webkit-animation-name: m-node-inserted;
  animation-name: m-node-inserted;
  outline: 0;
  cursor: pointer;
}

.m-dropdown > [disabled]{
    cursor: not-allowed;
}

.m-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #FFF;
  border-radius: 2px;
  z-index: 1;
  background-clip: padding-box;
}

.m-dropdown-menu.m-open {
  display: block;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-name: m-dropdown-open;
  animation-name: m-dropdown-open;
}

.m-dropdown-menu > li {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.429;
  color: rgba(0, 0, 0, 0.87);
  white-space: nowrap;
}

.m-dropdown-menu > li:hover,
.m-dropdown-menu > li:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  background-color: #EEEEEE;
}



.m-dropdown-menu-right {
  left: auto;
  right: 0;
}
