.m-dropdown {
  display: inline-block;
  position: relative;
}

[data-m-toggle="dropdown"] {
  -webkit-animation-duration: 0.001s;
  animation-duration: 0.001s;
  -webkit-animation-name: m-node-inserted;
  animation-name: m-node-inserted;
  outline: 0;
}

.m-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #FFF;
  border-radius: 2px;
  z-index: 1;
  background-clip: padding-box;
}

.m-dropdown-menu.m-open {
  display: block;
}

.m-dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.429;
  color: rgba(0, 0, 0, 0.87);
  white-space: nowrap;
}

.m-dropdown-menu > li > a:hover,
.m-dropdown-menu > li > a:focus {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  background-color: #EEEEEE;
}

.m-dropdown-menu > .m-disabled > a,
.m-dropdown-menu > .m-disabled > a:hover,
.m-dropdown-menu > .m-disabled > a:focus {
  color: #EEEEEE;
}

.m-dropdown-menu > .m-disabled > a:hover,
.m-dropdown-menu > .m-disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: not-allowed;
}

.m-dropdown-menu-right {
  left: auto;
  right: 0;
}
